.env

*.md
*.pdf
*.png


.git
.gitignore
.dockerignore


logs
*.log


crash-reports
usercache.json
usernamecache.json


world
world_nether
world_the_end


*.tmp
*.swp


.vscode
.idea
*.iml


.DS_Store
Thumbs.db
